*{
	scroll-behavior: smooth;
}

html {
    font-family: $font-text;
}

body {
    margin: 0;
    overflow-x: hidden;
    min-width: 350px;
    display: flex;
    flex-direction: column;
}

input {
    display: none;
}

h1 {
    font-family: $font-title;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}