*{
	scroll-behavior: smooth;
}

html {
    font-family: $font-text;
    max-width: 1440px;
}

body {
    margin: 0;
}

h1 {
    font-family: $font-title;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}