.footer {
    background-color: #353535;
    color: white;
    padding: toRem(22) 0 toRem(16) 0;

    @media screen and (min-width: $breakpoint) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: toRem(70) 0 0 0;
        
    }

    h2 {
        font-family: $font-title;
        font-size: 18px;
        padding-left: toRem(25);

        @media screen and (min-width: $breakpoint) {
            margin: 0 toRem(50) toRem(16) toRem(50);
        }
    }

    h3 {
        font-weight: 400;
        font-size: 16px;
    }

    i {
        width: 13px;
        padding-right: toRem(8);
    }

    a {
        color: white;
    }

    ul {
        padding-left: toRem(25);
        margin: 0;

        @media screen and (min-width: $breakpoint) {
            display: flex;
        }
    }

    li {
        padding-bottom: toRem(7);

        @media screen and (min-width: $breakpoint) {
            margin-bottom: 0.5em;
            padding-left: toRem(10);
        }
    }

    &__title {
        font-family: "Shrikhand", cursive;

        h2 {
            font-size: 18px;
            margin-top: 0;
        }
    }

    &__logo {
        display: flex;
        align-items: baseline;
        gap: 0.5em;
    }
}
