.main {
    &__location {
        height: toRem(70);
        background-color: #eaeaea;
        border: none;
        @include flex-center;
        &__searchbar {
            @media (min-width: $breakpoint) {
                margin-left: toRem(30);
            }
        }
        input {
            border: none;
            background-color: #eaeaea;
            font-weight: 700;
            color: #353535;
            text-align: center;
            display: initial;
        }
        i {
            position: relative;
            right: toRem(-30);
        }
    }
    &__hero {
        flex-direction: column;
        background-color: #f6f6f6;
        padding-bottom: toRem(40);
        @include flex-center;
        text-align: center;
        &__title {
            font-weight: 700;
            font-size: 40px;
            margin-bottom: toRem(15);
        }
        &__text {
            font-weight: 300;
            font-size: 18px;
            margin-bottom: toRem(25);
        }
        &__btn {
            @include button-style;
            a {
                color: white;
            }
            &:hover {
                background: linear-gradient(to top, #9760E4, #FAB3E8);
                box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2)
            }
        }
    }
    &__info {
        @include flex-center;   
        flex-direction: column;
        padding: toRem(40) 0;
        max-width: 580px;
        margin: auto;
        @media (min-width: $breakpoint) {
            margin: initial; 
            max-width: initial!important;
        }
        h2 {
            margin-top: toRem(55);
            margin-right: toRem(160);
            margin-bottom: toRem(35);
            padding-left: toRem(18);
            align-self: flex-start;
            @media (min-width: $breakpoint) {
                padding-left: toRem(96);
            }
        }
        &__container {
            @include flex-center;
            flex-direction: column;
            width: 90%;
            @media (min-width: $breakpoint) {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 80%;
                margin-right: toRem(70);
            }
        }
        &__step {
            display: flex;
            align-items: center;
            margin-bottom: toRem(25);
            padding: toRem(15) toRem(15) toRem(15) 0;
            border-radius: 20px;
            gap: toRem(20);
            background-color: #f6f6f6;
            cursor: pointer;
            max-width: 350px;
            width: 90%;
            @media (min-width: $breakpoint) {
                width: 25%;
            }
            &__number {
                @include flex-center;
                position: relative;
                width: 50px;
                height: 30px;
                max-width: 30px;
                border-radius: 30px;
                color: white;
                background-color: $main-color;
                left: -9px;
            }
        }
    }
}

#section_restaurants {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    @media screen and (min-width: $breakpoint) {
        padding-left: toRem(80);
        padding-right: toRem(80);
    }
}

.restaurant__description .fa-heart {
    padding-top: toRem(20);
}
